<!DOCTYPE html>
<html lang="en_ES">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>

    <!-- Android -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Favicon -->
    <link rel="icon" href="/icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/icons/apple-touch-icon.png">
    <link rel="mask-icon" href="/icons/favicon.svg" color="rgb(252, 177, 0)">

    <!-- Open Graph -->
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:url" content="https://<%= htmlWebpackPlugin.options.site %>.com" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.site %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="/icons/meta-fb-emoji.jpg?v=2" />
    <meta property="og:locale" content="en_ES" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:image" content="/icons/meta-tw.jpg" />

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="app"></div>
  </body>
</html>

